
.imageStyle {
    width: 100%;
    height:400px;
    background-repeat: round;
    position: absolute;
  }

.imageDivStyle{
    width: 100%;
    height: 100%;
    position: relative;

}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;

}
.fullSize{
  width: 100%;
  height: 100%;
}

.menu{
 display: flex;
 align-items: flex-end;
}

li{
  margin-top: 5px;
  margin-left:70px;
  color: rgba(233, 233, 233, 0.993);
 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
ul{
  height: 30px;
  background: #222;
  display: flex;
  justify-content: center;
  width: 100%;
}
.fontWeight{
  font-weight: 1000;

}